.intro {
	padding-top: 30px;
	color: #2f2f2f;
}

.intro__heading {
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	color: #28211f;

	span {
		font-weight: 900;
		text-decoration: underline;
	}
}

.intro__description {
	font-size: 16px;
	font-family: "Lato";
	text-align: center;
}

@media(min-width: 800px) {

	.intro {
		padding-top: 61px;
	}

	.intro__heading {
		font-size: 32px;
	}
}

@media(min-width: 1300px) {

	.intro__description {
		width: 755px;
		margin: 0 auto;
	}
}