.intro {
	padding-top: 30px;
	color: #2f2f2f;
}

.intro__heading {
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	color: #28211f;

	span {
		font-weight: 900;
		text-decoration: underline;
	}
}

.intro__description {
	font-size: 16px;
	font-family: "Lato";
	text-align: center;
}