.location {
	color: #28211f;
}

.location__heading {
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
}

.location__content {
	display: flex;
	flex-direction: column;
}

.location__info {
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 33px;
	background: $accent;
}

.location__subheading {
	margin-top: 31px;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.location__description {
	font-family: "Lato";
	font-weight: 600;
}

.location__list {
	width: 173px;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 17px;
}

.location__list-item {
	display: flex;
	justify-content: space-between;
}

.location__list-day {
	font-family: "Lato";
	font-size: 16px;
	font-weight: 700;
}

.location__list-time {
	font-family: "Lato";
	font-size: 16px;
}

@media(min-width: 800px) {

	.location__heading {
		margin-bottom: 54px;
	}

	.location__content {
		flex-direction: row;
	}

	.location__info {
		width: 33.33%;
		padding-top: 30px;
		padding-bottom: 0;
	}

	.location__map {
		width: 66.66%;
	}
}